* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

.header img {
    width: 3%;
    margin-left: 210px;
}

.header p {
    color: black;
    font-size: 18px;
    margin-right: 400px;
}

.header nav a {
    color: #18471B;
    text-decoration: none;
    font-size: 14px;
    margin: 15px;
}

.header nav .contactusbtn {
    border: solid 1px #18471B;
    border-radius: 6px;
    padding: 10px 30px;
    
}

.header nav .booknowbtn {
    background-color: #18471B;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    margin-left: 1px;
    margin-right: 50px;
}


.section2 img {
    width: 100%;
}


.section3 {
    margin-top: 20px;
    margin-left: 50px;
}

.section3 .adventure {
    font-size: 26px;
    margin-bottom: 10px;
}

.section3 .bold {
    font-weight: bold;
    margin-bottom: 8px;
}

.section3 div {
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
}

.section3 a {
    text-decoration: none;
    color: #18471B;
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px 20px;
    font-size: 10px;
}

.section4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 100px;
}

.section4 .owlimg {
    height: 248px;
    margin-left: 160px;
}

.section4 .winnerof2022img {
    height: 254px;
}

.section5 {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #F7B180;
   margin-top: 30px;
}

.section5 img {
    height: 440px;
    width: 750px;
    padding: 50px 90px;
}

.section5 h1 {
    font-size: 20px;
}

.section5 p {
    margin-right: 110px;
}

.section6 .trips {
   font-size: 25px;
   margin-top: 90px;
}

.section6 p {
    margin-bottom: 30px;
} 

.section6 {
    margin-left: 60px;
}

.section6 main {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.section6 main img {
    height: 200px;
    width: 340px;  
}

.section6 main h3 {
    margin-top: 50px;
    margin-left: 40px;
}

.section6 main p {
    margin-top: 20px;
    margin-left: 40px;
}

.section6 main .card1 {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.section6 main .card2 {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.section6 main .card3 {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.section7 {
    display: flex;
    align-items: center;  
    justify-content: space-around;
    margin-top: 120px; 
    background-color: #F7B180;
    padding: 100px 140px;
}

.section7 p {
    font-family: 'Sacramento';
    font-size: 80px;
}

.section7 a {
    text-decoration: none;
}

.section7 .greenbtn {
    background-color: #18471B;
    color: white;
    border-radius: 4px;
    padding: 10px 40px;
    margin-right: 40px;
    
}

.section7 .whitebtn {
    background-color: white;
    color: black;
    border-radius: 4px;
    padding: 10px 40px;
    border: 1px solid black;
}



